@using Stanly.Models
@model Stanly.ViewModel.MovieCustomerViewModel
@{
    ViewBag.Title = "RandomMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No customers recorded</p>
}
else
{
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }

    </ul>
}



